@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --fontTitulo: "Exo 2", sans-serif;
    --fontNav: "Roboto", sans-serif;;
    --fontTexto: "Open Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


}
body,html{
    width: 97vw;
    height: 100vh;
}

body{
    background-color: #f4f4f4;
    transition: .5s;
}

header{
    background-color: #222;
    color: #f8f8f8c4;
    font-family: var(--fontTitulo);
    text-align: center;
    width: 99vw;

   
    
}

nav{
    border-radius: 10px;
    border: 2px solid #2222227a;
    box-shadow: 1px 1px 1px .5px #3333331f;

    margin: auto;
    margin-top: 50px;
    height: 80px;
    width: 600px;

    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    transition: .5s;
}

ul{
    list-style-type: none;
    list-style-position: inside;

}
li{
    display: inline-block;
    font-family: var(--fontNav);
    margin-left: 12px;
    font-size: 1.1em;
    color: #444;
    transition: .5s;

    position: relative;

}

.liNav:after{
    content: ' ';
    width: 0%;
    height: 1px;
    
    background-color: #44444490;
    position: absolute;

    left: 0;
    bottom: 0;
    transition: .5s;
}

.liNav:hover::after{
    width: 100%;
}

nav li:hover{
    cursor: pointer;
    color: #666;
    font-weight: bold;
} 

.iconNav{
    display: block;
    width: 20px;
    height: 20px;
    color: #444;
    margin: auto;

    transition: .5s;
    
   }


/* ========= MAIN ============*/

.mainNoticias{
    width: 900px;
    margin: auto;
    margin-top: 60px;
    padding: 15px;
    background-color: #f8f8f8;

    box-shadow: .2px .2px .2px .2px rgba(0, 0, 0, 0.026);
    border-radius: 10px 10px 0px 0px;

    transition: .5s;
}

main img{
    border-radius: 10px;
    transition: .5s;
    box-shadow: .5px .5px .5px .5px rgba(0, 0, 0, 0.073);

    width: 550px;
    height: 250px;
}

main img:hover{
    cursor: pointer;
    padding-bottom: 5px;
    scale: 1.1;
    box-shadow: none;
}

.telaInicial{
    animation: showUp linear .5s forwards;
    
}
.secNoticias, .secRecentes{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

   
}
.divConteudos > h2, .divRecentes > h2, .divDestaque > h2{
    font-size: 1.1em;
    text-align: justify;
    text-indent: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #444;
   }
.divConteudos > p, .divRecentes > p, .divDestaque > p{
    margin-left: 5px;
    text-align: justify;
    text-indent: 5px;
    margin-top: 5px;
    font-size: .8em;
   }
.noticiaFour{
    border-bottom: 1px solid rgba(0, 0, 0, 0.21);
    padding-bottom: 5px;
}
main  h2{
    font-family: var(--fontTitulo);
}

p{
    font-family: var(--fontNav);
}

  /* ========== NOTICIAS APARTE ==========*/

.noticiasAparte{
    margin-top: 20px;
}
.imgAparte{
    margin: auto;
    width: 450px;
    height: 250px;
}
.imgAparte > img{
    width: 100%;
    height: 100%;
}
.noticiasAparte > h2{
    font-size: 1.3em;
    text-align: center;
}
.noticiasAparte  p{
    margin-bottom: 6px;
    display: inline-block;

    margin-top: 10px;
    margin-right: 10px;
    font-size: .8em;
    
    color: rgba(255, 99, 71, 0.823);
}
.divP{
    
    width: 270px;
    margin: auto;
}

/*============ TELA RECENTES ===========*/

.divRecentes > p{
    margin-top: 5px;
    color: #666;

}
.noticiasRecentes{
    animation: showUp linear .5s forwards;
    display: none;
}
.cxBreve{
    width: 330px;
    height: 100px;
    margin: auto;
    margin-top: 10px;
    

    display: flex;
    align-items: center;
    justify-content: center;
}
.cxBreve > h2{
    font-size: 1.1em;
    color: #6666666e;
}

/*============ TELA DESTAQUE ===========*/

.telaDestaque{
    display: none;
    animation: showUp linear .5s forwards;

}
.secDestaque{
    display: flex;
    flex-direction: row;
}
.secDestaque2, .secDestaque3{
    margin-top: 50px;
}

/*============ TELA SOBRE NÓS ===========*/

.telaSobre{
    display: none;
    animation: showUp linear .5s forwards;
}

.secSobre > h3{
    font-family: var(--fontTitulo);
    font-size: 1em;
}

.divSobre{
    background-color:#f4f4f4;
    border-radius: 10px;
    padding: 5px;
}

.secSobre  p {
    text-align: justify;
    margin-top: 10px;
    font-family: var(--fontNav);
    text-indent: 5px;
}

.ulSobre{
    background-color: #f4f4f4;
    padding: 5px;
    margin-top: 5px;
    border-radius: 10px;
}
.liSobre{
    margin-bottom: 5px;
   display: flex;
   align-items: center;
   font-style: italic;
   box-shadow: .2px .2px .2px .2px rgba(0, 0, 0, 0.026);
}
.iconSobre{
    margin-right: 5px;
}



