@charset "UTF-8";

@media screen and (max-width: 780px){
    
   header{
    width: 100vw;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
   }

   .headerBox > h1{
    font-size: 1.7em;
   }
   .headerBox > p{
    font-size: .8em;
    
   }

   nav{
    border-radius: 10px;
    border: 2px solid darkblue;
    box-shadow: 1px 1px 1px .5px #3333331f;

    margin: auto;
    margin-top: 50px;
    height: 80px;
    width: 340px;

    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    
   }
   nav > ul > li{
    margin-left: 12px;
    font-size: .8em;
    color: #444;
    transition: .2s;
    
   }

   nav li:hover{
    cursor: pointer;
    color: #666;
    font-weight: bold;
   } 
   .iconNav{
    display: block;
    width: 20px;
    height: 20px;
    color: #444;
    margin: auto;
   }
  /* =========== MAIN ==========*/
   .mainNoticias{
    max-width: 420px;
    margin: auto;
    margin-top: 60px;
    
   
    
   }

   main img{
    width: 180px;
    height: 100px;
    border-radius: 10px;
    transition: .5s;

}
    main img:hover{
    cursor: pointer;
    border: 1px solid #444;
   }
   .telaInicial{
    animation: showUp linear .5s forwards;
   }

   .secNoticias, .secRecentes{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
   }
  
   .divConteudos, .divRecentes > h2{
    font-size: .7em;
    text-align: justify;
    text-indent: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #444;
   }
   .divConteudos, .divRecentes > p{
    margin-left: 5px;
    text-align: justify;
    text-indent: 5px;

    font-size: .7em;
   }

   /* .telaInicialAtivada{
    animation: showUp linear .5s forwards;
    display: block;
   } */

   /*============ TELA RECENTES ===========*/

   .divRecentes > p{
    margin-top: 5px;
    color: #666;


   }

   .noticiasRecentes{
    animation: showUp linear .5s forwards;
    display: none;
}

   
}

@keyframes showUp{
    from{
        opacity: 0;
        transform: translate3d(0,-30px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}