@charset "UTF-8";

@media screen and (max-width: 780px){
    
   header{
   
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
   }

   .headerBox > h1{
    font-size: 1.7em;
   }
   .headerBox > p{
    font-size: .8em;
    
   }

   nav{
    border-radius: 10px;
    border: 2px solid darkblue;
    box-shadow: 1px 1px 1px .5px #3333331f;

    margin: auto;
    margin-top: 50px;
    height: 80px;
    width: 370px;

    

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    
    
   }
   nav > ul > li{
    margin-left: 25px;
    font-size: .8em;
    color: #444;
    transition: .2s;
    
   }

   nav li:hover{
    cursor: pointer;
    color: #666;
    font-weight: bold;
   } 
   .iconNav{
    display: block;
    width: 30px;
    height: 30px;
    color: #444;
    margin: auto;
   }
  /* =========== MAIN ==========*/
   .mainNoticias{
    max-width: 450px;
    margin: auto;
    margin-top: 60px;
    /* border: 1px solid black; */
   
    
   }

   main img{
    width: 200px;
    border-radius: 10px;
   }
   
   .noticiaOne, .noticiaTwo, .noticiaThree{
    display: flex;
    flex-direction: row;
   }
   .noticiaOne  h2{
    font-size: 1em;
    text-align: justify;
    text-indent: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #444;
    
    
   }
   .noticiaOne  p{
    margin-left: 5px;
    text-align: justify;
    text-indent: 5px;
   }
  
   .noticiaTwo{
    margin-top: 50px;
   }
   .conteudoTwo > h2{
    font-size: 1em;
    text-align: justify;
    text-indent: 5px;
    margin-left: 5px;
    border-bottom: 1px solid #444;
   }
   .conteudoTwo > p{
    margin-left: 5px;
    text-align: justify;
    text-indent: 5px;
   }

   .noticiaThree{
    margin-top: 50px;
   }
   .conteudoThree > h2{
    font-size: 1em;
    text-align: justify;
    text-indent: 5px;
    margin-left: 5px;
    
    border-bottom: 1px solid #444;
   }

   .conteudoThree > p{
    margin-left: 5px;
    text-align: justify;
    text-indent: 5px;
   }
}