@charset "UTF-8";

@media screen and (max-width: 780px){
    
   header{
    width: 100vw;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
   }

   .headerBox > h1{
    font-size: 1.5em;
   }
   .headerBox > p{
    font-size: .8em;
    
   }

   nav{
    height: 80px;
    width: 340px;
   }
   nav > ul > li{
    font-size: .8em;
   }

  /* =========== MAIN ==========*/
   .mainNoticias{
    max-width: 350px;
    margin: auto;
    margin-top: 60px;
    
   
    
   }

   main img{
    width: 140px;
    height: 80px;
}
  
   .divConteudos > h2, .divRecentes > h2, .divDestaque > h2{
    font-size: .7em;
   }
   .divConteudos > p, .divRecentes > p, .divDestaque > p{
    font-size: .7em;
   }

   /* ========== NOTICIAS APARTE ==========*/

   .imgAparte{
       width: 300px;
       height: 200px;
    }

   .noticiasAparte > h2{
    font-size: 1em;
    text-align: left;
   }

   .noticiasAparte  p{
    font-size: .9em;
    text-align: left;
   }
   .divP{
    width: 100%;
   }
   /*============ TELA RECENTES ===========*/



/*============ TELA DESTAQUE ===========*/



}

/*============ TELA SOBRE NÓS ===========*/

.secSobre > h3{
    font-size: 1em;
}
.secSobre  p {
    font-size: .8em;
}


.secSobre li{
    font-size: .8em;
    
}

.ultimoH3{
    margin-top: 10px;
    margin-bottom: 10px;
}


@keyframes showUp{
    from{
        opacity: 0;
        transform: translate3d(0,-30px,0);
    }
    to{
        opacity: 1;
        transform: translate3d(0px, 0px, 0px);
    }
}